<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class = 'col-xs-12 col-md-offset-1 col-md-8'>
	<h1>About</h1>

	<p>
		This site was built by <a target="_blank" href="http://www.weihsi.hu.com">WeiHsi</a>.
	</p>

		<div class="col-xs-12 col-sm-4">
			<%= image_tag 'Xmas-whu.jpg', :class => 'img-responsive' %>
		</div>
		<div class="col-xs-12 col-sm-7 col-sm-offset-1">
			<h2 class="text-center">WeiHsi Hu</h2>
			<br />
			<p>
				WeiHsi Hu is a community worker, opera singer, researcher, and now a web developer. As a consultant, he has worked with several charities in the UK and Vancouver helping them to develop best strategies to accomplish their goals and ways to demonstrate their impact. His <a target='_blank' href="http://uk.linkedin.com/in/weihsihu/">experience</a> spans a wide range and he is currently the director of <a target='_blank' href="http://www.logical-thinking.co.uk">Logical Thinking Consultancy</a>.
			</p>
		</div>
</div>