<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class = 'col-xs-12 col-md-offset-2 col-md-8'>

	<h1>FAQ</h1>
	<p>
	<b>What if I couldn't attend a session after I signed up?</b><br>
	If you cannot attend or don't show up, then you forfeit that session, essentially. There are a few things that you could do:
	<ul>
		<li>Find another person to take your place. Then that person can pay you for the session.</li>
		<li>Try to swap with anyone else in the group.</li>
	</ul>
	<p>
	No one is running the sessions, per se, so you just need to make your arrangements yourselves before the session take place.
	
	<p> 
	<b>Do I need to tell you/give you the score of what I want to sing ahead of that session?</b><br>
	Not necessary unless if you think it has a tricky piano part.
	 
	<p>
	<b>Can I invite others to join?</b><br>
	Yes please. There is up to 5 spaces available at each audition hour. If there are more people interested, we can extend the hour.
	
	<p>
	<b>What should I sing?</b><br>
	I can't really tell you that. But think about what you've got coming up. If it works out, you might have an upcoming audition the week after a session, then it would be great opportunity for you to sing that piece a few times in public before you go to the audition. Of course, you don't need me to tell you that.
	
	<p>
	<b>Can I sing the same pieces every session?</b><br>
	Yes! I think we as the audience will have to be good and gracious for that because this is the whole point of these sessions. Sing something so often/much that it becomes your go to party piece.
	
	<p>
	<b>Will someone give me critiques or feedbacks?</b><br>
	No. This is not a masterclass, but you can always ask for it.
	 
	<p>
	<b>Can I/Will you tap the sessions?</b><br>
	I am look for potential video camera equipments so that might be helpful. But you will probably need to bring your SD Card so that the video can be recorded onto your own disk. Others might not want their singing to be recorded by other people. So please only record your own.
	 
	I can have my small Zoom recorder available, but the same story goes with brining your own SD card.
	 
	<p>
	<b>Any other questions?</b><br>
	Just ask.
	</p>
</div>