<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class = 'col-xs-10 col-md-offset-1 col-md-8'>

	<h1>Audition Club</h1>
	<%= image_tag 'lego-opera2.jpg', :class => 'img-responsive', :alt => 'Lego Opera Singer' %>
	<br />
	<p>
	Audition Club is for singers who want to practice their audition repertoire in front of an informal audience. We also welcome any 'observers' who would like to just be in the audience and listen.
	<p>
	<b>Cost:</b><br>
	£8 per session for singers.
	<p> 
	<b>Booking & Attendance:</b><br>
	You will need to commit to attending and the cost. That is why you are being asked to pay upfront for each session. 
	<p>
	You can book the sessions up to 7 days before each session. To book, click on the session tab and you can book the session all together or separately.
	<p>
	There are ways to manage if you cannot attend.Please see the FAQ section for more suggestions.
	<p> 
	<b>Pianist:</b><br>
	There will be a professional pianist that will be able to sight-read your music. But if your music is really difficult, they would appreciate if you can let the pianist know ahead of time.
	<p>
	<b>At each session:</b><br>
	The sessions will have at least 4 singers. That means we will have about 10 to 15 min each person (give or take with setup/takedown). We break the sessions up and cycle through the 4 singers. That means you get to sing your songs a 2nd time after your nerves have calmed down. But ultimately it is up to you on how you'd like to use your 15 min.
	<p> 
	<b>To make it interesting & meet our objectives:</b><br>
	Some of the reasons that auditions are horrible is because we have to sing in front of strangers, and that is a learned skill. So, I think we would welcome people to bring friends to the session, so we keep the faces fresh and our nerves on tip-top form.
	</p>
</div>
<div class = 'col-xs-2 col-md-2'>
<br />
<br />
<h5><%= link_to "FAQ's", faq_path %></h5>
</div>