<p>Hey There!</p>
<p>
	Congrats! <b>You have signed up to these Audition Club sessions:</b>
	<ul>
	<% @sessions.each do |session| %>
	<li> <%= session.from.to_s(:from_date) %></li>
	<% end %>
	</ul>
</p>
<p>
	See course sessions <%= link_to 'here', courses_url %>
</p>

Keep on singing,<br/>
WeiHsi