<div class = 'col-xs-12 col-md-offset-1 col-md-10'>
<h1>Courses</h1>
<br />
<% if @courses.present? %>
	<ul>
		<% @courses.each do |course| %>
			<li><h3><%= course.title %></h3>
			<%= course.description %> <b>Each session costs <%= number_to_currency course.cost, :unit => '£ ' %></b>, <%= link_to 'more info...', course_path(course) %></li>
		<% end %>
	</ul>
<% else %>
	There are no courses at this time.
<% end %>

</div>