body {
	background: url('45degreee_fabric.png');
	font-family: 'Helvetica neue';
}

.home-page {
	background: #fff;
	position: relative;
	min-height: 550px;
	border-radius: 5px;
}

.nav {
	background: url('45degreee_fabric.png');
}